body {
    background-color: #ccf5f5;
}
div gameholder{
	margin:0px;
}
.popup-content.active {
    visibility: visible;
  }

.popup-image{
    margin-top: 0%;
    height: 250px;
    width: 250px;
}
.rescue{
	font-size:1em;
	text-shadow:none;
}
#goodNews{
	font-size:2em;
}
#winLoss{
	font-size:2em;
}
.popup-content {
    visibility: hidden;
  }
.popup-overlay.active {
    visibility: visible;
    text-align: center;
	width:650px;
	margin-left: 0px;
    height: 540px;
    margin-top: 100px;
	background-color:darkslategrey;
}
.popup-overlay {
    visibility: hidden;
    position: absolute;
   /* background: #ffffff;*/
    border: 3px solid #666666;
    width: 800px;
    height: 650px;
    margin-left: 25%;
    top: 11%;
}

#gameholder {
    width: 600px;
	
    /*margin-left:100px;*/
	
}
#clear1{
    position: absolute;
    left: 37%;
    top: 90%;
    font-size: 24px;
    font-style: verdana;
    background-color: black;
    color: white;
    margin-left: 0px;
    margin-top: 0px;
    width: 150px;
}
#clear{
	 position: absolute;
    left:55.5%;
	top:70%;
	font-size:24px;
	font-style:verdana;
	background-color:black;
	color:white;
	margin-left:300px;
	margin-top:0px;
}
#btn2{
	width:110px;
	font-size:24px;
	font-style:verdana;
	background-color:white;
	color:black;
}
#btn{
	font-size:24px;
	font-style:verdana;
	background-color:black;
	color:white;
	margin-left:300px;
	margin-top:0px;
}
#title {
    width: 600px;
    height: 150px;
    background-image:url('../images/penguin_title.png');
}

#container{
   position: absolute;
   left:20%;
   top:0%;
  width: 900px;
  height: 900px;
  text-align: center;
  font-family: Indie Flower, cursive;
}
#welcome{
   background-color:black;
   color:white;
  font-size: 35px;
  transition: 0.5s linear;
  display: inline-block;
  width: 100%;
  height: 350px;
  margin-top: 180px;
  text-shadow: 2px 6px 1px rgba(255, 255, 255, 0.7);
}
.score 
{
    margin-top:5px;
}
#num {
	margin-top:0px;
    width: 250px;
    height: 150px;
    position: absolute;
    left: 70%;
	top:45%;
    border: 3px groove darkslategrey;
    text-align: left;
    font-family: Comic Sans MS;
    font-size: 1.5em;
    font-weight: 800;
    color: darkslategrey;
    text-shadow: 2px 2px lightgrey;
    background-color: rgba(0, 0, 0, .1);
}
#penguin1:hover {
    background-image:url('../images/mound_1_hover.png');
    cursor: pointer;
}
/*#penguin1:active {
    background-image:url('../images/penguin_1.png');
	
}*/
#penguin1 {
    width: 200px;
    height: 200px;
    float: left;
  background-image:url('../images/mound_1.png');
 
}
#penguin2:hover {
    background-image:url('../images/mound_2_hover.png');
    cursor: pointer;
}
/*#penguin2:active {
    background-image:url('../images/penguin_2.png');
	
}*/
#penguin2 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('../images/mound_2.png');
}
#penguin3:hover {
    background-image:url('../images/mound_3_hover.png');
    cursor: pointer;
}
/*#penguin3:active {
    background-image:url('../images/penguin_3.png');
}*/
#penguin3 {
    width: 200px;
    height: 200px;
    float: left;
   background-image:url('../images/mound_3.png');
}
#penguin4:hover {
    background-image:url('../images/mound_4_hover.png');
    cursor: pointer;
}
/*#penguin4:active {
    background-image:url('../images/penguin_4.png');
}*/
#penguin4 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('../images/mound_4.png');
}
#penguin5:hover {
    background-image:url('../images/mound_5_hover.png');
    cursor: pointer;
	
}
/*#penguin5:active {
    background-image:url('../images/penguin_5.png');
}*/
#penguin5 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('../images/mound_5.png');
}
#penguin6:hover {
    background-image:url('../images/mound_6_hover.png');
    cursor: pointer;
}
/*#penguin6:active {
    background-image:url('../images/penguin_6.png');
}*/
#penguin6 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('../images/mound_6.png');
}
#penguin7:hover {
    background-image:url('../images/mound_7_hover.png');
    cursor: pointer;
}
/*#penguin7:active {
    background-image:url('../images/penguin_7.png');
}*/
#penguin7 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('../images/mound_7.png');
}
#penguin8:hover {
    background-image:url('../images/mound_8_hover.png');
    cursor: pointer;
}
/*#penguin8:active {
    background-image:url('../images/penguin_8.png');
*/
#penguin8 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('../images/mound_8.png');
}
#yeti:hover {
    background-image:url('../images/mound_9_hover.png');
    cursor: pointer;
}
/*#yeti:active {
    background-image:url('../images/yeti.png');
}*/
#yeti {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('../images/mound_9.png');
}